/* Body styles */
body {
    margin: 8px;
    background-color: #e6f9ff;
    height: 100%;
}



.inventory {

    background-color:  #ccf2ff;
}

/* Navbar styles */
.navbar {
    background-color: #80dfff;
    font-family: 'Rancho', cursive;
    font-size: 1.5em;
    top:50%;
    bottom:50%;
}

.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-brand {
    color: black;
    font-size: 1.25em;
}

#greeting {
    color: black;
}

/* Panel Styling */

.panel {
    border: 1px solid;
}

.panel-primary .panel-heading {
    background: #80dfff;
}

.panel-title {
    font-family: 'Rancho', cursive;
    font-size: 2em;
}

/* Autocomplete Styling */

ul.ui-autocomplete {
    z-index: 1100;
}

img.project-photo{
    height: 400px;

}


/* Footer styles */
.footer {
    background-color: #80dfff;
    height: 10%;
}

.push {
    height: 100px;
}