/* Import Fonts */
@font-face {
    font-family: "Text Me One";
    src: url("fonts/Text_Me_One/TextMeOne-Regular.ttf"); 
}

@font-face {
    font-family: "Fredericka the Great";
    src: url("fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf");
}

@font-face {
    font-family: "Raleway Medium";
    src: url("fonts/Raleway/Raleway-Medium.ttf");
}


/* Body styles */
body {
    margin: 8px;
    background-color: #e6f9ff;
    height: 100%;
    font-family: 'Raleway Medium', sans-serif;

}

/* Global Heading Styles */

h1, h2, h3, h4 {
    font-family: 'Text Me One', monospace;
}


/* Navbar styles */
.navbar {
    background-color: #80dfff;
    font-family: 'Text Me One', monospace;
    font-size: 1.5em;
    top:50%;
    bottom:50%;
    border-style: solid;
    border-width: 1px;
    border-color: #0086b3;
}

.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-brand {
    color: black;
    font-size: 1.25em;
}

#greeting {
    color: black;
}

/* Panel Styling */

.panel {
    border: 1px solid;
    border-color:#0086b3;
}

.panel-primary .panel-heading {
    background: #80dfff;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color:#0086b3;
}

.panel-title {
    font-family: 'Text Me One', monospace;
    font-size: 2em;
}

.modal-header {
    background: #80dfff;
}

.modal-title {
    font-family: 'Text Me One', monospace;
    font-size: 2em;
    color: white;
}


#filter-options, #inv-table {
    border-style:solid;
    border-width: 0 0 1px 0;
    border-color: #ddd;
    padding: 1em;
}


/* Autocomplete Styling */

ul.ui-autocomplete {
    z-index: 1100;
}

img.project-photo{
    height: 400px;

}


/* Footer styles */
.footer {
    background-color: #80dfff;
    height: 10%;
}

.push {
    height: 100px;
}