<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Crafter's Closet {% endblock %}
           {% block subtitle %} SUBTITLE HERE {% endblock %}
    </title>

    <!-- <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <!-- <link rel="stylesheet" href="/static/jquery-ui.css"> -->
    <!-- <script src="static/js/jquery-1.12.4.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <script src="/static/js/jquery-ui.js"></script> -->
</head>

<body>
    <nav class="navbar navbar-default">
        {% if "user_id" in session %}
        <div class="container-fluid">
            <div class="row">
                <span class="col-xs-12" id="user-greet">
                    Hi, {{ session["username"] }}!
                </span>
            </div>
        </div>
        {% endif %}
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Crafter's Closet</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {% if "user_id" not in session %}
            <li><a href="/login" id="signin">Sign In</a></li>
            <li><a href="/register" id="register">Register</a></li>
            {% else %}
            <li><a href="/dashboard" id="go-to-dash">Your Dashboard</a></li>
            <li><a href="/logout" id="logout">Sign Out</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        {% if get_flashed_messages() %}
            <div class="alert alert-info" role="alert">
              <!-- Show flashed messages -->
                {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                        <div><span class="glyphicon glyphicon-flash"></span>{{ message }}</div>
                    {% endfor %}
                {% endwith %}
            </div>
        {% endif %}
    </div>

    <div class="container-fluid" id="body-div">
        {% block body %}CONTENT GOES HERE{% endblock %}
    </div>

    <!-- <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>
