<!doctype html>
<html>
<head>
    <title>{% block title %} Crafter's Closet {% endblock %}
           {% block subtitle %} SUBTITLE HERE {% endblock %}
    </title>
</head>
<body>

    {% if get_flashed_messages() %}
        <div>
          <!-- Show flashed messages -->
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            {% endwith %}
        </div>
    {% endif %}

    {% block body %}CONTENT GOES HERE{% endblock %}

</body>

    <!-- Add a footer containing a link to the homepage. -->
    <br>
    <hr>
    <footer><a href="/">Crafter's Closet Home</a></footer>

</html>