<!doctype html>
<html>
<head>
    <title>{% block title %} TITLE GOES HERE {% endblock %}</title>
</head>
<body>

    {% if get_flashed_messages() %}
        <div>
          <!-- Show flashed messages -->
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            {% endwith %}
        </div>
    {% endif %}

    {% block body %}CONTENT GOES HERE{% endblock %}

</body>
</html>