
{% extends 'base.html' %}

{% block subtitle %} Dashboard {% endblock %}

{% block body %}

<h1>Dashboard</h1>

<br>

<!-- Begin Inventory Panel -->

<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Your Inventory</h3>
    </div>

    <div class="panel-body">

      <!-- Buttons for Inventory Functionality -->
      <div class="inventory-options">
          <div class="btn-group-horizontal" role="group" aria-label="inventory-options">
              <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="">Filter Inventory View</button>
              <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#">Search Your Inventory</button>
          </div>    
      </div>

      <!-- Display Inventory -->
      <table class="table table-striped">
              <thead>
              <tr>
                  <th>Brand</th>
                  <th>Type</th>
                  <th>Color</th>
                  <th>Quantity Owned</th>
                  <th>Purchase URL</th>
              </tr>
              </thead>
              <tbody>
              {% for supply_type, brand, color, units, purchase_url, qty, item_id in inventory %}
              <tr>
                  <td>{{ brand.title() }}</td>
                  <td>{{ supply_type }}</td>
                  <td>{{ color.title() }}</td>
                  <td>{{ qty }} {{ units }} 
                      <button type="button" class="btn btn-default" id="{{ item_id }}" style="float: right;">
                        Update
                      </button> 
                  </td>
                  <td><a href="{{ purchase_url }}">{{ purchase_url }}</a></td>
              </tr>
              {% endfor %}
              </tbody>
      </table>
      <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#add-supply">Add a Supply!</button>
    </div>
</div>

<!-- Modal Code for "Add a Supply" button -->
<div class="modal fade" id="add-supply">

  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add a Supply to Your Inventory</h4>
      </div>

      <!-- Begin Modal Body -->

      <div class="modal-body">
            <form action="/add-supply" method="POST">
                  <div class="form-group">
                    <!-- Supply Type Dropdown -->
                    <label for="supplytype">Supply Type</label><br>
                        <select name="supplytype" id="supplytype">
                          {% for type in all_supply_types %}
                            <option value="{{ type[0] }}">{{ type[0] }}</option> 
                          {% endfor %}
                        </select>
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="brand">Brand</label>
                    <input type="text" class="form-control" name="brand" id="brand" placeholder="What company made this supply?">
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="color">Color</label>
                    <input type="text" class="form-control" name="color" id="color" placeholder="What color is this supply?">
                  </div> 
                  <br>
                  <div class="form-group">
                    <label for="purchase-url">Purchase URL</label>
                    <input type="text" class="form-control" name="purchase-url" id="purchase-url" placeholder="Where did you buy this supply?">
                  </div>

                  <div class="form-group">
                  <!-- FIXME: Change label below to reflect units of dropdown value dynamically. -->
                    <label for="quantity-owned">Quantity You Own (in UNITS)</label>
                    <input type="number" class="form-control" name="quantity-owned" id="quantity-owned">
                  </div>
                  <div class="form-group">

                    <!-- Units Dropdown -->
                    <!-- FIXME: Remove units option when I can reflect units on qty above -->
                    <label for="units">Units (Don't be a jerk. Pick the unit that matches your supply type.)</label><br>
                        <select name="units" id="units">
                          {% for unit in all_units %}
                          <option value="{{ unit[0] }}">{{ unit[0] }}</option>
                          {% endfor %}
                        </select>
                  </div>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind!</button>
                <button type="submit" class="btn btn-primary">Add Supply</button>
            </form>
    </div>

    </div><!-- /.modal-content -->

  </div><!-- /.modal-dialog -->

</div><!-- /.modal -->


<!-- Begin Project Panel -->
<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Your Projects</h3>
    </div>

    <div class="panel-body">
        <div class="project-options">
              <!-- Buttons for Project Options -->
              <div class="btn-group-horizontal" role="group" aria-label="inventory-options">
                  <button onclick="window.location.href='/create-project'" type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="">Create a New Project</button>
              </div>    
        </div>

        <!-- Display Inventory -->
        <table class="table table-striped">
          <thead>
          <tr>
              <th>Title</th>
              <th>Description</th>
          </tr>
          </thead>
          <tbody>
          {% for project in projects %}
          <tr>
              <td><a href="/project/{{project.project_id}}">{{ project.title.title() }}</a></td>
              <td>{{ project.description[:50] }}...</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
  </div>
</div>

{% endblock %}