
{% extends 'base.html' %}

{% block subtitle %}
Home
{% endblock %}

{% block body %}
Hey this is a homepage.

<h1> Users </h1>
    <p><a href="/users">View all users</a></p>

<h1> Details About Supplies </h1>
    <p><a href="/all-supply-details">View all supply details</a><p>

{% if "user_id" not in session %}

<p><a href="/register">Register to log your craft supplies!</a></p>

<p><a href="/login">Login if you already have an account.</a></p>

{% endif %}

{% if "user_id" in session %}
<form action="/logout">
<input type="submit" value="Logout">
</form>
{% endif %}

{% endblock %}