
{% extends 'base.html' %}

{% block subtitle %}
Home
{% endblock %}

{% block body %}

<br>
<div class="row">

    <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-5 welcome">
        <h1 class="page-head">Welcome to Crafter's Closet!</h1>
        <p class="intro">Crafter's Closet is a personal craft supply inventory for makers, crafters,
        hobbyists, and artists of all stripes. Catalog your whole inventory, update it 
        as you acquire more bits and bobs, and create project pages that tell you exactly 
        what you need to buy for your next project.</p>

        <p class="intro">Because let's face it: no matter how organized your supplies are, without an
        inventory, you'll always find that perfect spool of thread, shade of paint,
        or set of LEDs...right after you just bought it.</p>

        {% if "username" not in session %}
        <p class="intro"><a href="/login">Sign In</a> or <a href="/register">Register</a> now to start keeping track of your stuff!
        {% endif %}
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-4">
    <div class="panel panel-primary proj-search">
        <div class="panel-heading">
            <h1 class="panel-title">Feeling Crafty?</h1>
        </div>
        <div class="row">
            <div class="panel-body col-xs-offset-1 col-xs-10">
                <h4 id="proj-search-head">Search for your next project!</h4>

                <div id="search-field">
                    <input type="text" name="search-term" id="search-term" placeholder="Enter search term." value="dragon">
                    <button type="button" class="btn btn-default btn-sm" id="search-projects">Search</button>
                </div>
                <br>
                <hr>
                <h4 id="search-active-head"></h4>
                <br>
                    <div id="project-search-results">
                        <!-- Search results appended here. -->
                        <span id="psr-placeholder text-muted"><i>Your search results will appear here.</i><br></span>
                    </div>
            </div>
        </div>
    </div>
    </div>
</div>

<script src="/static/js/projectSearch.js"></script>

{% endblock %}