        <div class = "panel panel-primary" id="inventory-chart-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Inventory Composition At a Glance</h3>
            </div>

            <div class="panel-body" id="supply-type-chart">
              <canvas id="donutChart"></canvas>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
            </script>
            <script src="/static/js/inventoryCharts.js"></script>
        </div>
