{% extends 'base.html' %}

{% block subtitle %}
Create Project
{% endblock %}

{% block body %}

<div class="row">
        <div class="col-xs-12 col-md-offset-2 col-md-8">
            <h1 class="page-head"> Create a New Project </h1>
                
                
                <form action="/create-project" method="POST">
                    <!-- Basic Project info -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                          <h3 class="panel-title">Basic Details</h3>
                        </div>

                        <div class="panel-body">
                          <div class="form-group">
                            <label id="title-label" for="title">Title (REQUIRED. How else will you remember what this project is? Trust us on this.)</label><br>
                            <input type="text" class="form-control form-control-lg" name="title" id="title" placeholder="What is this project called?">
                          </div>

                          <div class="form-group">
                            <label id="desc-label" for="description">Description * (500 characters or less. Optional.)</label>
                            <textarea type="text" class="form-control form-control-lg" name="description" id="description" placeholder="Notes, general ideas, or anything else you want to say about this project."></textarea>
                          </div>

                          <div class="form-group">
                            <label id="instr-label" for="instr-url">Instruction URL (optional)</label>
                            <input type="text" class="form-control form-control-lg" name="instr-url" id="instr-url" placeholder="Include a link to a tutorial, if you want.">
                          </div>

                          <div class="form-group">
                            <label id="img-url-label" for="img-url">Image URL (optional) </label>
                            <input type="text" class="form-control form-control-lg" name="img-url" id="img-url" placeholder="Include a link to an image for this project, if you want.">
                          </div>
                          <div class="row">
                                <center id="credit" class="col-xs-12"><i>*Note: If you're linking to a tutorial you didn't write, please credit your source in the description!</i></center>
                          </div>
                        </div>

                    </div>


                <!-- Adding Supplies -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Supplies (Don't refresh or you'll restart!)</h3>
                    </div>
                    <div class="panel-body">
                        <div id="supplies-to-add">
                            <!-- Supply forms will appear here. -->
                        </div>
                        <button type="button" class="btn btn-default btn-lg" id="supply-form-gen">
                            <span class="glyphicon glyphicon-plus"></span> Add a Supply to This Project
                        </button>
                    </div>

                    <input type="hidden" id="num-supplies" name="num-supplies" value="0">
                </div>

                <button type="submit" class="btn btn-primary btn-lg">Create Project</button>
            </form>

        <br>

        <!-- // <script src="http://code.jquery.com/jquery.js"></script> -->
        <script src="/static/js/supplyFormGen.js"></script>
    </div>
</div> 


{% endblock %}
